{% extends 'default.html.twig' %}


{% block body %}
<div class="container">
    <h1>Noticias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descrip</th>
                <th>DescripExtend</th>
                <th>Organizador</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noticia in noticias %}
            <tr>
                <td>{{ noticia.id }}</td>
                <td>{{ noticia.titulo }}</td>
                <td>{{ noticia.descrip }}</td>
                <td>{{ noticia.descripExtend }}</td>
                <td>{{ noticia.organizador }}</td>
                <td>{{ noticia.imagen }}</td>
                <td>
                    <a href="{{ path('app_noticias_show', {'id': noticia.id}) }}">show</a>
                    <a href="{{ path('app_noticias_edit', {'id': noticia.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_noticias_new') }}">Create new</a>
</div>
{% endblock %}
