{% extends 'default.html.twig' %}

{# {% block title %}User{% endblock %} #}

{% block body %}
    {# <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ user.perfil.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ user.perfil.apellidos }}</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{{ user.perfil.fechanacimiento }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ user.perfil.altura }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ user.perfil.peso }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }} #}





              <section>
            <div class="parallax-container breadcrumb-modern bg-gray-darkest" data-parallax-img="{{ asset('images/background-04-1920x750.jpg') }}">
              <div class="parallax-content"> 
                <div class="container section-top-98 section-bottom-34 section-lg-bottom-66 section-lg-98 section-xl-top-110 section-xl-bottom-41">
                  <h2 class="d-none d-lg-block offset-top-30"><span class="big">Perfil</span></h2>
                  <ul class="list-inline list-inline-dashed">
                    <li class="list-inline-item"><a href="/">Inicio</a></li>
                    <li class="list-inline-item">Perfil
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </header>
      <div class="container">
        




          <ul class="list-group">
            {% for clase in historicoclases %}
              {% if clase.fechaActividad|date('d-m-Y') >= hoy|date('d-m-Y') %}
                <li class="list-group-item list-group-item-success">Clase de {{clase.actividad.actividad}} el dia {{clase.fechaActividad|date('d-m-Y')}} a las {{clase.horaActividad|date('H:i')}}</li>  
              {% else %}
                <li class="list-group-item list-group-item-danger">Clase de {{clase.actividad.actividad}} el dia {{clase.fechaActividad|date('d-m-Y')}} a las {{clase.horaActividad|date('H:i')}}</li>  
              {% endif %}
            {% endfor %}
          </ul>
      </div>
{% endblock %}
