{% extends 'default.html.twig' %}
{# 
{% block title %}Horario index{% endblock %} #}

{% block body %}
    {# <h1>Horario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Capacidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.id }}</td>
                <td>{{ horario.Capacidad }}</td>
                <td>{{horario.dia.dia}}</td>
                <td>{{horario.hora.hora|date('H:i')}}</td>
                <td>{{horario.actividad.actividad}}</td>
                <td>
                    <a href="{{ path('app_horario_show', {'id': horario.id}) }}">show</a>
                    <a href="{{ path('app_horario_edit', {'id': horario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
              <section>
            <div class="parallax-container breadcrumb-modern bg-gray-darkest" data-parallax-img="{{ asset('images/fotosPoli/CabeceraHora.jpg') }}">
              <div class="parallax-content"> 
                <div class="container section-top-98 section-bottom-34 section-lg-bottom-66 section-lg-98 section-xl-top-124 section-xl-bottom-124">
                  <h2 class="paddi"><span class="big">Horario</span></h2>
                  <ul class="list-inline list-inline-dashed">
                    <li class="list-inline-item"><a href="/">Inicio</a></li>
                    <li class="list-inline-item">Horario
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </header>
      <!-- Page Content-->
<div class="container margin-container" style="max-width: 910px;">

<div class="row">
<table class="table text-center col-12">
  <thead>
    <tr>
      <th scope="col">Hora</th>
      {% for dia in dias %}
        <th style="width:194px" scope="col">{{ dia }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody style="font-size:12px">
    {% for hora in horas %}
      <tr>
        <td scope="row" style="text-align: center; vertical-align: middle; width:100px;">{{ hora }}</td>
        {% for dia in dias %}
        {% set claseReservada = false %}
          {% set actividades = horarios|filter(a => a.hora.hora|date('H:i') == hora and a.dia.dia == dia) %}
          <td style="width:194px">
            <div class="col-12 row aling-items-center" >
            {% if actividades|length > 0 %}
              {% for actividad in actividades %}
              {% set modalId = 'exampleModalCenter' ~ actividad.id %}
              {% set reservadamodalId = 'reservadaModalCenter' ~ actividad.id %}
              {% set reservaid = 0 %}
              {% set diaTraducido = dia|trans %}
                {% if actividades|length == 1 %}
                <div style="width:100%" class="col-6 {{actividad.actividad.cssclass}}">
                {% if clasesreservadas|length == 0 %}
                  <a href="#" data-toggle="modal" data-target="{{ '#' ~ modalId }}" style="text-decoration: none; color: black;">
                {% else %}
                {% for rclase in clasesreservadas %}
                      {% if not claseReservada %}
                          {% if rclase.fechaActividad|date('Y-m-d') == fechasSemana[diaTraducido]|date('Y-m-d') and rclase.horaActividad|date('H:i') == actividad.hora.hora|date('H:i') and rclase.actividad.id == actividad.actividad.id %}
                              {% set claseReservada = true %}
                              {% set reservaid = rclase.id %}
                              <a href="#" data-toggle="modal" data-target="{{ '#' ~ reservadamodalId }}" style="text-decoration: none; color: black;">
                            {% else %}
                              <a href="#" data-toggle="modal" data-target="{{ '#' ~ modalId }}" style="text-decoration: none; color: black;">
                          {% endif %}
                      {% endif %}
                    {% endfor %}
                {% endif %}
                    <div>
                    {{ actividad.actividad.actividad }}<br>
                    {{ actividad.sala.nombreSala }}<br>
                    {{ actividad.capacidadvar }}/{{ actividad.capacidad }}<br>
                    {% set claseReservada = false %}
                    {% for rclase in clasesreservadas %}
                      {% if not claseReservada %}
                          {% if rclase.fechaActividad|date('Y-m-d') == fechasSemana[diaTraducido]|date('Y-m-d') and rclase.horaActividad|date('H:i') == actividad.hora.hora|date('H:i') and rclase.actividad.id == actividad.actividad.id %}
                              {% set claseReservada = true %}
                              <p>Clase reservada</p>
                          {% endif %}
                      {% endif %}
                    {% endfor %}
                    </div>
                  </a>
                </div>
                {% else %}
                <div style="flex-grow: 0;padding-top: 10px;padding-bottom: 10px; padding-" class="col-6 {{actividad.actividad.cssclass}}">
                {% if clasesreservadas|length == 0 %}
                  <a href="#" data-toggle="modal" data-target="{{ '#' ~ modalId }}" style="text-decoration: none; color: black;">
                {% else %}
                    {% for rclase in clasesreservadas %}
                      {% if not claseReservada %}
                          {% if rclase.fechaActividad|date('Y-m-d') == fechasSemana[diaTraducido]|date('Y-m-d') and rclase.horaActividad|date('H:i') == actividad.hora.hora|date('H:i') and rclase.actividad.id == actividad.actividad.id and rclase.Sala == actividad.sala.nombreSala %}
                              {% set claseReservada = true %}
                              <a href="#" data-toggle="modal" data-target="{{ '#' ~ reservadamodalId }}" style="text-decoration: none; color: black;">
                            {% else %}
                              <a href="#" data-toggle="modal" data-target="{{ '#' ~ modalId }}" style="text-decoration: none; color: black;">
                          {% endif %}
                      {% endif %}
                    {% endfor %}
                {% endif %}
                    <div>
                        {{ actividad.actividad.actividad }}<br>
                        {{ actividad.sala.nombreSala }}<br>
                        {{ actividad.capacidadvar }}/{{ actividad.capacidad }}
                        {% set claseReservada = false %}
                        {% for rclase in clasesreservadas %}
                          {% if not claseReservada %}
                              {% if rclase.fechaActividad|date('Y-m-d') == fechasSemana[diaTraducido]|date('Y-m-d') and rclase.horaActividad|date('H:i') == actividad.hora.hora|date('H:i') and rclase.actividad.id == actividad.actividad.id and rclase.Sala == actividad.sala.nombreSala %}
                                  {% set claseReservada = true %}
                                  <p>Clase reservada</p>
                              {% endif %}
                          {% endif %}
                        {% endfor %}
                    </div>
                  </a>
                </div>
                {% endif %}
                  <!-- Modal Reservar -->
                  <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="{{ modalId }}Title">Reserva de clase</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                        {% set diaTraducido = dia|trans %}
                          <p>
                            ¿Desea reservar la clase de <b>{{actividad.actividad.actividad}}</b> En la sala "<b>{{ actividad.sala.nombreSala }}</b>"<br>
                             el día <b>{{actividad.dia.dia}}</b> <b>{{fechasSemana[diaTraducido]|date('d-m-Y')}}</b> a las <b>{{actividad.hora.hora|date('H:i')}}</b>?
                          </p> 
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                        <form name="historico_clases" method="post" enctype="multipart/form-data">
                          <input type="hidden" id="historico_clases_fecha_Actividad_month" name="historico_clases[fecha_Actividad][month]" value="{{fechasSemana[diaTraducido]|date('m')|trim('0')}}"/>
                          <input type="hidden" id="historico_clases_fecha_Actividad_day" name="historico_clases[fecha_Actividad][day]" value="{{fechasSemana[diaTraducido]|date('d')|trim('0')}}"/>
                          <input type="hidden" id="historico_clases_fecha_Actividad_year" name="historico_clases[fecha_Actividad][year]" value="{{fechasSemana[diaTraducido]|date('Y')}}"/>
                          <input type="hidden" id="historico_clases_HoraActividad_hour" name="historico_clases[HoraActividad][hour]" value="{{actividad.hora.hora|date('H')}}">
                          <input type="hidden" id="historico_clases_HoraActividad_minute" name="historico_clases[HoraActividad][minute]" value="0">
                          <input type="hidden" id="historico_clases_actividad" name="historico_clases[actividad]" value="{{actividad.actividad.id}}">
                          <input type="hidden" id="historico_clases_Horario" name="historico_clases[Horario]" value="{{actividad.id}}">
                          <input type="hidden" id="historico_clases_usuario" name="historico_clases[usuario]" value="{{userid}}">
                          <input type="hidden" id="historico_clases_Sala" name="historico_clases[Sala]" value="{{actividad.sala.nombreSala}}">
                          {# <input type="hidden" name="_tokenHC" value="{{ csrf_token('autenticaHC') }}"> #}
                            <button type="submit" class="btn btn-primary">Reservar</button>
                        </form>
                        </div>
                        </div>
                      </div>
                    </div>

                   <!-- Modal Reservado -->
                  <div class="modal fade" id="{{ reservadamodalId }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="{{ reservadamodalId }}Title">Clase Reservada</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                        {% set diaTraducido = dia|trans %}
                          <p>

                            Su clase de <b>{{actividad.actividad.actividad}}</b> En la sala "<b>{{ actividad.sala.nombreSala }}</b>"<br>
                             el día <b>{{actividad.dia.dia}}</b> <b>{{fechasSemana[diaTraducido]|date('d-m-Y')}}</b> a las <b>{{actividad.hora.hora|date('H:i')}}</b> esta reservada
                          </p> 
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                        </div>
                      </div>
                    </div>
              {% endfor %}
            {% endif %}
            </div>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_granted('ROLE_ADMIN')%}
    <a type="button" class="btn btn-primary btn-block" href="{{ path('app_horario_new') }}">Añadir nueva actividad</a>
{% endif %}
</div>
</div>

{% endblock %}